
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" >close</mat-icon>
</button>
<div>
    
    <input type="file">
    
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
        <button mat-raised-button>Basic</button>
    </form>
</div>