<div id="capa" class="capa">
    <div id="sidebar-menu" class="container-side-menu">
            <div class="user-info">
                <div class="user-info--icon"></div>
                <p class="user-info--name">Ernesto Garmendia</p>
            </div>
            <div class="user-options">
                <ul>
                    <li>Cambiar Usuario</li>
                    <li>Configuración</li>
                    <li>Ayuda</li>
                </ul>
            </div>
            <div class="liteflix-options">
                <ul>
                    <li><div class="icon-bell"><span class="red-point"></span></div>Novedades</li>
                    <li>Series</li>
                    <li>Peliculas</li>
                    <li>Mi lista</li>
                    <li>Niños</li>
                </ul>
            </div>
            <div class="add-movie-container">
                <button>
                        <span class="icon-plus"></span>
                        Agregar película
                </button>
            </div>
            <div class="log-out-container">
                <button class="log-out">Log Out</button>
            </div>
    </div>
</div>